<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title><h:outputText value="#{app.name}" /></title>
    </h:head>
    <h:body>
		<h:form>
			<div style="text-align: center; margin-top: 100px">
				<p:growl id="growl" life="2000" />
				
				<h3>Input Phone Number</h3>
				<p:inputTextarea rows="6" cols="33" value="#{indexController.phoneNumber}"/><br />
				<p:commandButton value="Submit" id="submit" update="growl" action="#{indexController.sendSMS()}" styleClass="ui-priority-primary" />
				
				<h1><h:outputText value="#{app.name}" /></h1>
				<footer>
					Version <h:outputText value="#{app.version}" /><br />
					Build <h:outputText value="#{app.build}" /><br />
				</footer>
			</div>
		</h:form>

    </h:body>
</html>